body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 95%;
    max-width: 500px;
    background-color: #888;
    padding: 10px;
    box-sizing: border-box;
    grid-template-areas:
        "header"
        "aside-top"
        "main"
        "aside-bottom"
        "footer";
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.header {
    background-color: #a0408d;
    grid-area: header;
}

.main-content {
    background-color: #64bc64;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    grid-area: main;
}

.column {
    background-color: #e62c64;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.aside-top {
    background-color: #2e78c0;
    grid-area: aside-top;
}

.aside-bottom {
    background-color: #2eafc0;
    grid-area: aside-bottom;
}

.footer {
    background-color: #f78d2b;
    grid-area: footer;
}

@media (min-width: 769px) {
    .grid-container {
        max-width: 960px;
        grid-template-columns: 1fr 2fr 1fr;
        /* Define the new grid areas for the desktop layout */
        grid-template-areas:
            "header header header"
            "aside-top main main"
            "aside-bottom main main"
            "footer footer footer";
    }
}