body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 95%;
    max-width: 1200px;
    background-color: #888;
    padding: 10px;
    box-sizing: border-box;
    grid-template-areas:
        "header"
        "aside-top"
        "main"
        "aside-bottom"
        "footer";
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.header {
    background-color: #a0408d;
    grid-area: header;
    padding: 20px;
    min-height: 60px;
}

.main-content {
    background-color: #64bc64;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    grid-area: main;
}

.column {
    background-color: #e62c64;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
}

.aside-bottom {
    background-color: #2eafc0;
    grid-area: aside-bottom;
    padding: 20px;
    min-height: 100px;
    min-height: 60px;
}

.footer {
    background-color: #f78d2b;
    grid-area: footer;
    padding: 20px;
    min-height: 60px;

}

.aside-top {
    background-color: rgb(65, 65, 214);
    grid-area: aside-top;
    padding: 20px;
    min-height: 100px;
}

inside-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.Article {
        display: none;
    }

@media (min-width: 769px) { 
    .wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
        gap: 10px;
    }

    .Article{
        display: block;
        position: relative;
        top: 150px;
    }

    .grid-container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;


        grid-template-areas:
            "header header header"
            "aside-top main aside-bottom"
            "footer footer footer"
            "side aside aside";
        grid-column: 1 / 4;
    }
    .column {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

}